#representation{text-align:center; background-color:#6c74eb;}
ol{text-align:left;}
#help{padding-bottom: 50px;}
@media screen and (max-width: 980px) {
  #nav {
   display: none;
  }
 }

#refuge {text-align:center; background-color:#6c74eb;}
ol{text-align:left;}
#help{padding-bottom: 50px;}
@media screen and (max-width: 980px) {
  #nav {
   display: none;
  }
 }